<section>
  <div class="jumbotron text-center">
    <div class="row">
      <h1>
        landscapes.io
      </h1>
    </div>
    <div class="row">
      <p>
        <div class="text-center form-group">
          <a class="btn btn-primary btn-lg" href="/authentication/signin">Sign In</a>
          <!--<span style="font-size: larger">
          &nbsp; or&nbsp;
          <a href="/authentication/signup">Sign Up</a>
          </span>-->
        </div>
      </p>
    </div>
  </div>
  <div ng-include="'/modules/landscapes/client/views/footer.html'"></div>
</section>
