.create-landscape label,
.create-landscape #name,
.create-landscape #version,
.create-landscape #description,
.create-landscape #infoLink,
.create-landscape #infoLinkText {
    margin-left: 20px;
}

.create-landscape .two-field-row {
    width: 48% !important;
    float: left;
    margin: 0 1%;
}
